XMLSchemas/moritzKrystalScore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	>
  <xs:annotation>
    <!--xs:documentation xml:lang="en"-->
    <xs:documentation>
      *************************************************************************************************
      *  XML Schema for Moritz Krystal Score Settings (.mkss files)                                   *
      *  Version 3 copyright James Ingram 2014                                                        *
      *                                                                                               *
      *  This is the file format saved and loaded by Moritz' Assistant Composer.                      *
      *  It contains the settings used to create a particular score.                                  *
      *  These Moritz Krystal Score Settings files are saved next to the associated score, as a file  *
      *  whose name is the base name of the associated score concatenated with the suffix ".mkss".    *
      *************************************************************************************************
    </xs:documentation>
  </xs:annotation>

  <!--::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::-->
  <!-- moritzKrystalScore: the root element of a Moritz Krystal Score (.mkss) file -->
  <xs:element name="moritzKrystalScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadata" type="metadataType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="dimensions" type="dimensionsType" minOccurs="1" maxOccurs="1"/>
        <xs:element name="notation" type="notationType" minOccurs="1" maxOccurs="1"/>
        <xs:element name="krystals" type="krystalListType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="palettes" type="paletteListType" minOccurs="0" maxOccurs="1"/>
        <xs:element name="runtimeInfo" type="runtimeInfoType" minOccurs="0" maxOccurs="1"/>      
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <xs:complexType name ="dimensionsType">
    <xs:sequence>
      <xs:element name="paper" type="paperType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="title" type="titleType" minOccurs="1" maxOccurs="1"/>
      <xs:element name="margins" type="frameType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paperType">
    <xs:attribute name="size" type="xs:string"/>
    <xs:attribute name="landscape" type="xs:boolean"/>
  </xs:complexType>
  <xs:complexType name="titleType">
    <xs:attribute name="titleHeight" type="xs:float"/>
    <xs:attribute name="authorHeight" type="xs:float"/>
    <xs:attribute name="titleY" type="xs:float"/>
  </xs:complexType>
  <xs:complexType name="frameType">
    <xs:attribute name="topPage1" type="xs:float"/>
    <xs:attribute name="topOtherPages" type="xs:float"/>
    <xs:attribute name="right" type="xs:float"/>
    <xs:attribute name="bottom" type="xs:float"/>
    <xs:attribute name="left" type="xs:float"/>
  </xs:complexType>

  <xs:complexType name="websiteLinkType">
    <xs:attribute name="aboutLinkText" type="xs:string"/>
    <xs:attribute name="aboutLinkURL" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="metadataType">
    <xs:sequence>
      <xs:element name="websiteLink" type="websiteLinkType" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="keywords" type="xs:string"/>
    <xs:attribute name="comment" type="xs:string"/>  
  </xs:complexType>

  <xs:complexType name="notationType">
    <xs:attribute name="chordSymbolType" type="chordSymbolType"/>
    <xs:attribute name="minimumCrotchetDuration" type="xs:int"/>
    <xs:attribute name="beamsCrossBarlines" type="xs:boolean"/>
    <xs:attribute name="stafflineStemStrokeWidth" type="xs:float"/>
    <xs:attribute name="gap" type="xs:int" />
    <xs:attribute name="minGapsBetweenStaves" type="xs:int"/>
    <xs:attribute name="minGapsBetweenSystems" type="xs:int"/>
    <xs:attribute name="voiceIndicesPerStaff" type="xs:string"/>
    <xs:attribute name="clefsPerStaff" type="xs:string"/>
    <xs:attribute name="stafflinesPerStaff" type="xs:string"/>
    <xs:attribute name="staffGroups" type="xs:string"/>
    <xs:attribute name="longStaffNames" type="xs:string"/>
    <xs:attribute name="shortStaffNames" type="xs:string"/>
    <xs:attribute name="systemStartBars" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="krystalListType">
    <xs:sequence>
      <xs:element name="krystal" type="krystalType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="paletteListType">
    <xs:sequence>
      <xs:element name="palette" type="paletteType" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="runtimeInfoType">
    <xs:sequence>
      <xs:element name="trackInit" type="trackInitType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="performersOptions" type="performersOptionsType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="nPages" type="xs:string"/>
    <xs:attribute name="nTracks" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="trackInitType">
    <xs:attribute name="volume" type="xs:string"/>
    <xs:attribute name="pwDeviation" type="xs:string"/>
    <xs:attribute name="pitchWheel" type="xs:string"/>
    <xs:attribute name="expression" type="xs:string"/>
    <xs:attribute name="pan" type="xs:string"/>
    <xs:attribute name="modulation" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="performersOptionsType">
    <xs:attribute name="noteOnPitchTracks" type="xs:string"/>
    <xs:attribute name="noteOnVelocityTracks" type="xs:string"/>
    <xs:attribute name="pressureController" type="xs:string"/>
    <xs:attribute name="pressureTracks" type="xs:string"/>
    <xs:attribute name="pitchWheelController" type="xs:string"/>
    <xs:attribute name="pitchWheelTracks" type="xs:string"/>
    <xs:attribute name="modWheelController" type="xs:string"/>
    <xs:attribute name="modWheelTracks" type="xs:string"/>
    <xs:attribute name="masterVolumes" type="xs:string"/>
    <xs:attribute name="speedController" type="xs:string"/>
    <xs:attribute name="speedMaxPercent" type="xs:string"/>
    <xs:attribute name="minVolume" type="xs:string"/>
    <xs:attribute name="trackIndex" type="xs:string"/>
    <xs:attribute name="performersEventHandler" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="krystalType">
   <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name ="basicChordType">
    <xs:sequence>
      <xs:element name="durations" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="velocities" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="midiPitches" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="chordOffs" type="xs:string" maxOccurs="1" minOccurs="0"/>

      <xs:element name="chordDensities" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="rootInversion" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="inversionIndices" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="verticalVelocityFactors" type="xs:string" maxOccurs="1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name ="audioFilesType">
    <xs:sequence>
      <xs:element name="file" type="xs:string" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="paletteType">
    <xs:sequence>
      <xs:element name="basicChord" type ="basicChordType" maxOccurs="1" minOccurs="0" />
      <xs:element name="bankIndices" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="patchIndices" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="volumes" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="repeats" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="pitchwheelDeviations" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="pitchwheelEnvelopes" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="panEnvelopes" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="modulationWheelEnvelopes" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="expressionEnvelopes" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="audioFiles" type="audioFilesType" maxOccurs="1" minOccurs="0"/>

      <xs:element name="ornamentNumbers" type="xs:string" maxOccurs="1" minOccurs="0" />
      <xs:element name="ornamentMinMsDurations" type="xs:string" maxOccurs="1" minOccurs="0" />

      <xs:element name="ornamentSettings" type="ornamentSettingsType" maxOccurs="1" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="domain" type="xs:int"/>
    <xs:attribute name="percussion" type="xs:boolean" default="false"/>
  </xs:complexType>

  <xs:complexType name="ornamentSettingsType">
    <xs:sequence>
      <xs:element name="numBasicChordDefs" type="xs:string" maxOccurs="1" minOccurs="1"/>
      <xs:element name="basicChord" type ="basicChordType" maxOccurs="1" minOccurs="1" />
      <xs:element name="bankIndices" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="patchIndices" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="numOrnaments" type="xs:string" maxOccurs="1" minOccurs="1"/>
      <xs:element name="ornaments" type="ornamentsListType" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name ="ornamentsListType">
      <xs:sequence>
        <xs:element name="ornament" type="xs:string" maxOccurs="12" minOccurs="1"/>      
    </xs:sequence>
  </xs:complexType>
  
  <xs:simpleType name="chordSymbolType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="standard"/>
      <xs:enumeration value="2b2"/>
    </xs:restriction>
  </xs:simpleType>
 
</xs:schema>
